#action-bar {
    position: absolute;
    top: 1rem;
    right: 6rem;
    display: flex;
    flex-direction: row;
}

/* Buttons that changes the look of the map */
#buttons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 1rem;
}

/* Card that shows the weather */
#weather-wrapper {
    padding: 1.4rem 1.2rem;
    border-radius: 0.5rem;
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#weather-wrapper p {
    margin: 0 0 .5rem 0;
}

#weather-icon {
    height: 4rem;
    margin-left: .4rem;
}

/* Puts the celcius icon behind the temperature number */
#grader {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 619px) {
    #action-bar {
        position: initial;
    }

    #buttons {
        position: absolute;
        top: 1rem;
        right: 5rem;
    }
    
    #weather-wrapper {
        display: block;
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
}