/* the overlay */
#overlay {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    cursor: pointer;
}
  
/* chart container */
#container{
    height: 50rem;
    margin: 5rem 2rem 1rem 1rem;
}

/* opens the overlay */
#overlay-btn {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    z-index: 100; /* always puts the button on top */
}

/* closes the overlay */
#overlay-close-btn{
    position: absolute;
    bottom: 3rem;
    right: 1rem;
}

/* changes stats on the overlay */
#statistikk-btns {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-items: center;
}

#statistikk-btns button {
    border: 2px solid rgb(240, 240, 240);
}

@media only screen and (max-width: 619px) { 
    #overlay-btn {
        bottom: 1rem;
    }  
    
    #container{
        height: 45rem;
        margin: 2rem .2rem 1rem;
    }
    
}


/* Highchart styling */
/* background color (around the bars) */
.highcharts-background {
    fill: #fff;
}

/* background color (behind the bars) */
.highcharts-plot-border {
    fill: #fff;
}

/* colors of the bars */
.highcharts-color-0 {
    fill: #ea2054;
}

/* changes the color on the bars when hovering*/
.highcharts-color-0:hover {
    fill: #bb123c;
}

/* title on the left */
.highcharts-axis.highcharts-color-0 text {
    fill: #ea2054;
}

.highcharts-axis-title {
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 600;
}

.highcharts-tooltip > * {
    stroke: white;
}

/* colors of the lines in the background */
.highcharts-grid-line {
    stroke:#bb123c;
}

/* title under */
.highcharts-legend {
    fill: #fff;
}

.highcharts-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
